.banner {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: black;
  }
  
  .slides {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
  }
  
  .slide.active {
    opacity: 1;
    z-index: 1;
  }
  
  .progress-bar-container {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    width: fit-content;
    z-index: 10;
  }
  
  .progress-bar {
    width: 100px;
    height: 7px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  }
  
  .progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: white;
    width: 0%;
    transition: width 5000ms linear; /* A animação padrão */
  }
  
  .progress-bar.active::before {
    width: 100%; /* A barra ativa vai preencher com 100% */
    transition: width 5000ms linear; /* Inicia a animação */
  }

  .progress-bar.reset::before {
    width: 0%; /* Reseta o width */
    transition: none; /* Remove a animação */
  }
  
  /* .progress-bar.active::before {
    width: 100%;
  }
   */

   