/* Aplica a fonte IM Fell DW Pica a todo o body */
body {
    overflow-x: hidden;
}

/* Estilos para a seção de cadastro */
.containerCD {
    margin-inline: auto;
    padding-inline: 270px;
    background-color: #23535441;
    padding-bottom: 40px;
    display: flex; /* Flexbox para alinhar horizontalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    align-items: center; /* Alinha verticalmente no centro */
}

/* Estilos para o título */
.titulo {
    color: #203c3f;
    font-weight: 35;
    letter-spacing: 5px;
    margin-bottom: 7px;
    padding-top: 50px;
    font-size: 50px;
    font-family: serif, 'IM Fell DW Pica';
}

/* Estilos para o texto adicional */
.texto {
    font-weight: 150;
    font-size: 16px;
    width: 675px;
    word-spacing: 10px;
    color: #002947;
    padding-top: 0px;
    text-align: left;
    font-family: serif, 'IM Fell DW Pica';
}

/* Estilos para o campo de input */
.campo {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 10px 0;
    text-align: left;
    margin-top: 35px;
    color: #002947;
    margin-top: 40px;
}

/* Estilos para os inputs */
input {
    width: 650px;
    border: none;
    border-bottom: 0.7px solid #002947;
    padding: 5px;
    font-size: 16px;
    outline: none;
    text-align: center;
    background-color: #23535400;
    font-family: 'Copper Hewitt', sans-serif;
}

/* Estilos para o botão */
.botão {
    border-radius: 70px;
    background-color: #106f709c;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 180px;
    height: 50px;
}

/* images */
.images {
    display: flex; /* Flexbox para organizar a imagem */
    justify-content: center; /* Centraliza a imagem */
    margin-left: 70px;
}

.bloco1 img{
    width: 325px;
    height: 460px;
    margin-top: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.bloco2 {
    height: 460px;
}

#img1 {
    width: 325px;
    height: 220px;
    border-radius: 5px;
    margin-top: 44px;
}

#img2 {
    width: 325px;
    height: 220px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Responsividade*/
@media (max-width: 768px) {
    .containerCD {
        flex-direction: column; 
        padding-inline: 20px; 
    }
    
    .images img {
        width: 100%; 
        height: auto; 
        margin-top: 20px; 
    }
    
    .formulario {
        width: 100%; 
    }
}
