@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Arial", sans-serif; /* Fonte padrão */
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

/* Seção da grade de imagens */
.containerPR {
  display: flex;
  max-width: 1400px; /* Aumenta a largura da seção */
  /* height: 600px; Aumenta a altura */
  margin: 25px auto; /* Garante que tenha espaço para não sobrepor */
  overflow: hidden;
  padding-top: 40px;
  position: relative; /* Evita sobreposição com outras seções */
}

.image-grid {
  display: grid;
  /* grid-template-areas:
    "img1 img1 img1"
    "img2 img4 img5"
    "img3 img6 img5"; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px; /* Aumenta a altura das células da grade */
  gap: 15px;
  width: 100%;
  /* height: 100%; */
  margin-left: 15px;
  margin-right: 15px;
  position: relative; /* Garante que a grade fique bem posicionada */
}

.image-link {
  position: relative; /* Necessário para o posicionamento do overlay */
  display: block; /* Torna o link um bloco para envolver a imagem completamente */
  text-decoration: none; /* Remove o sublinhado do link */
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço da grade */
  display: block;
  border-radius: 0;
  transition: opacity 0.3s ease-in-out; /* Transição suave */
}

/* Efeito de escurecimento na imagem */
.image-link:hover img {
  opacity: 0.5; /* Escurece a imagem */
}

.image-link:nth-of-type(1) {
  grid-row: 1/4;
}

.image-link:nth-of-type(5) {
  grid-row: 2/4;
  grid-column: 3/4;
}

/* O texto dentro do overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o texto */
  color: white;
  font-size: 24px;
  font-weight: bold;
  visibility: hidden; /* Inicialmente invisível */
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s ease-in-out; /* Transição suave */
  text-align: center;
}

/* Mostrar o texto ao passar o mouse */
.image-link:hover .overlay {
  visibility: visible;
  opacity: 1;
}

/* Áreas do grid */
.img1 {
  grid-area: img1; /* img1 ocupa as 3 áreas horizontais na primeira linha */
}

.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }

.side-text {
  font-size: 28px; /* Aumenta o tamanho do texto lateral */
  font-weight: bold;
  color: white;
  background-color: #214a53;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
}
